<header>
    <div>
        @await Html.PartialAsync("LoggedInHeader")
    </div>
</header>

<h1>Forgot your password? </h1>
<form method="post">
    <div class="form-control">
        <p>Enter your email to reset:</p>
        <input name="email" class="form-control" />
        <input asp-action="SendEmail" type="submit" value="Send" class="btn btn-primary" />
    </div>
</form>
