
@{
    ViewData["Title"] = "Home";
}

<h1>Welcome to your home page</h1>
<form>
    <div class="row">
        <div class="col-md-2">
            <div class="form-group">
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-2">
            <div class="form-group">
                <input asp-action="Profile" type="submit" value="My Profile" class="btn btn-primary" />
            </div>
        </div>

        <div class="col-md-2">
            <div class="form-group">
                <input asp-action="Matches" type="submit" value="My Matches" class="btn btn-primary" />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            <div class="form-group">

            </div>
        </div>

    </div>


    <div class="row">
        <div class="col-md-1">
            <div class="form-group">

            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <input asp-action="Explore" type="submit" value="Find matches" class="btn btn-primary" />
            </div>
        </div>
    </div>
</form>