
@{
    ViewData["Title"] = "Home";
}

<h1>Welcome to your home page</h1>
<form>
    <div class="row">
        <div class="col-md-2">
            <div class="form-group">
            </div>
        </div>
    </div>

    <div class="row">
        
            <div class="form-group">
                <input asp-action="Profile" type="submit" value="My Profile" class="mybutton mybutton1" />
            </div>
       
        
            <div class="form-group">
                <input asp-action="Matches" type="submit" value="My Matches" class="mybutton mybutton2" />
            </div>
        
        
            <div class="form-group">
                <input asp-action="Explore" type="submit" value="Find matches" class="mybutton mybutton3" />
            </div>
        
    </div>
    


    
</form>