@model Projekt3.Models.ProfileModel

@{
    ViewData["Title"] = "Home Page";
}


<form >

    <div class="centeredCaption" style="background-color: #F3F6F7">
        <h1 class="indexCaption">Dating App</h1>
    </div>
    
    
   




</form>
